.page-header
  %h1 Lotações

- if @orgaos.present?    
  %div{:id => "jqxTree", :class => "hero-unit"} 
  
  %br
  
  %input{:type => "hidden", :value =>  @lotacoes_array, :class => 'data_json'}
= render 'lotacoes_js'