%h1 Lista de Lotações
= link_to raw("<i class='icon-plus icon-white'></i> Novo"), new_lotacao_path, :class => "btn btn-success"
%br
%br
- if notice
  .alert
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    %strong= notice
    
%div{:id => "jqxTree"} 

%br

/ = link_to 'New Lotacao', new_lotacao_path

%input{:type => "hidden", :value =>  @lotacoes_array, :class => 'data'}


