.page-header
  %h1 Lotações

= link_to raw("<i class='icon-plus icon-white'></i> Novo"), new_lotacao_path, :class => "btn btn-success"
%br
%br

- if notice
  .alert
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    %strong= notice
    
%div{:id => "jqxTree", :class => "hero-unit"} 

%br

%input{:type => "hidden", :value =>  @lotacoes_array, :class => 'data'}


