- if !@lotacao_pai
  .page-header
    %h1 Cadastrar Lotação
- else
  .page-header
    %h1 Nova Lotação em #{@lotacao_pai.orgao.nm_orgao}

= render 'form'

.form-actions
  = link_to 'Voltar', lotacoes_path, :class => "btn btn-info"
