.project
.DS_Store
.bundler
.bundler/*
tmp/*
tmp
log/*
log
db/*.sqlite3
public/system/*
public/system
public/uploads/*
public/uploads
public/assets/*
public/assets
solr/*
solr
script/robot/images/*
script/robot/mongo/*
script/robot/wget-log.1
suldr.gpg
db/schema.rb
app/assets/images/tmp/*
.sass-cache/*
config/database.yml
database.yml
.idea
