<div class="modal hide fade" id="modal-pessoa">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
      <i class="icon-remove-circle"></i>
    </button>
    <h3>Cadastrar Pessoa</h3>
  </div>

  <div class="modal-body"></div>
</div>
