.page-header
  %h1 Detalhes da Simbologias

%p
  %b Simbologias:
  = @categoria.nm_categoria
%p
  %b Descrição:
  = @categoria.descricao

  
.form-actions
  = link_to 'Editar', edit_categoria_path(@categoria), :class => "btn btn-warning aguarde "
  = link_to 'Voltar', categorias_path, :class => "btn aguarde"
