/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.actions_lotacao {
	padding-left: 5px;
	display: inline;
	position: absolute;
	right: 0;



}

.actions_lotacao a {
	margin-left: 5px;


}

#jqxTree ul li , #jqxTree ul {
}

#panelContentpaneljqxTree {
	width: 98% !important;
	overflow: hidden !important;

}

#panelWrapperpaneljqxTree >  div ,  #panelWrapperpaneljqxTree ,#paneljqxTreehorizontalScrollBar > div {
	overflow: hidden !important;

}
