<div class="container-fluid">
  <div class="row-fluid">
    <%= render "layouts/body_menu_lateral"%>
    
    <%= render "layouts/body_content"%>
  </div>

  <%= render "layouts/body_rodape"%>

</div>