<!DOCTYPE html>

<html lang="en">
    
  <head>
    <%= render "layouts/head" %>
  </head>
  
  <body>
    <%= render "layouts/topo" %>
    
    <%= render "layouts/body" %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
